<div class="bg-body-tertiary border-top">
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-center align-items-center py-2">
            <div class="col-md-6">
                <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
            </div>

            <div class="col-md-6 d-flex justify-content-end">
                <div>
                    <p class="fw-bold m-0">Follow Me At</p>
                    <ul class="nav list-unstyled ">
                        <li class="ms-3"><a class="text-body-secondary"
                                href="https://www.facebook.com/profile.php?id=100015283568614" target="_blank"><i
                                    class="fab fa-github" aria-hidden="true"></i></a></li>
                        <li class="ms-3"><a class="text-body-secondary"
                                href="https://www.linkedin.com/in/zead-sayed-328169169/" target="_blank"><i
                                    class="fab fa-linkedin-in"></i></a></li>
                        <li class="ms-3"><a class="text-body-secondary" href="https://github.com/Zeadsayed"
                                target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</div>