<section class="page-banner bgs-cover overlay pt-50" style="background-image: url(assets/images/banner.jpg);">
  <div class="container">
    <div class="banner-inner">
      <h1 class="page-title">Shop</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-decoration-none">Store</a></li>
          <li class="breadcrumb-item active"><a routerLink="products">Product</a></li>
        </ol>
      </nav>
    </div>
  </div>
</section>

<section class="py-50">
  <div class="container">
    <div class="row">
      <div class="title text-center mb-5">
        <h3 class="fw-bold text-primary">Categories</h3>
      </div>
      <div class="col-md-3 mb-3">
        <div class="image">
          <a routerLink="products" class="text-center"><img src="assets/images/chip.png" alt=""></a>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="image">
          <a routerLink="products" class="text-center"><img src="assets/images/jewllery.png" alt=""></a>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="image">
          <a routerLink="products" class="text-center"><img src="assets/images/man clothes.png" alt=""></a>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="image">
          <a routerLink="products" class="text-center"><img src="assets/images/women clothes.png" alt=""></a>
        </div>

      </div>
    </div>

  </div>
</section>